<header class="site-header">
    <nav class="container">
        <div class="logo">
            <a href="https://mr-funderburk.github.io/DevFun/">
                <span class="logo-code">&lt;/&gt;</span>
                Dev<strong>Fun</strong>
            </a>
        </div>

        <input type="checkbox" id="menuToggle">
        <label for="menuToggle" class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="links">
            <div class="links-inner">
                <div><a href="https://mr-funderburk.github.io/DevFun/">Home</a></div>

                <div class="link-courses">
                    <a href="https://mr-funderburk.github.io/DevFun/index.html#courses">Courses</a>

                    <div class="links-mega">
                        <div>
                            <span class="course-group">Advanced Placement</span>
                            <a href="/DevFun/courses/ap-csp/index.html">AP Computer Science Principles</a>
                            <a class="link-disabled">AP Computer Science A</a>
                            <a class="link-disabled">AP Cybersecurity</a>
                        </div>
                        <div>
                            <span class="course-group">Game Development</span>
                            <a href="/DevFun/courses/game-1/index.html">Level I</a>
                            <a class="link-disabled">Level II</a>
                            <a class="link-disabled">Level III</a>
                            <a class="link-disabled">Level IV</a>
                        </div>
                        <div>
                            <span class="course-group">Web Development</span>
                            <a href="/DevFun/courses/web-1/index.html">Level I</a>
                            <a class="link-disabled">Level II</a>
                            <a class="link-disabled">Level III</a>
                            <a class="link-disabled">Level IV</a>
                        </div>
                        <div>
                            <span class="course-group">Foundations</span>
                            <a href="/DevFun/courses/intro-to-coding/index.html">Introduction to Coding</a>
                        </div>
                    </div>
                </div>

                <div><a href="/DevFun/resources.html">Resources</a></div>

                <div><a href="/DevFun/index.html#about">About</a></div>
            </div>
        </div>
    </nav>
</header>